#a >div {
  background:wheat;
  /*  Insert code bellow   */
   
}
#a{
  /* DO NOT insert code here */
  border:1px solid black;
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
}