div{
  background: wheat;
  width:400px;
  border: 2px solid green;
/*  Insert code below  */
}
#d1 {
padding-left: 40px;
}
#d2 {
  padding-left: 40px;
  padding-right: 45px;  
}
#d3 {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 40px;
  padding-right: 45px;  
}